<footer id="footer">
  <div class="footer-left">
    <div class="craftering">
      <a href="https://craftering.shom.dev/@trev/previous">←</a>
      <a href="https://craftering.shom.dev/">Craftering (System Crafters)</a>
      <a href="https://craftering.shom.dev/@trev/next">→</a>
    </div>
  </div>
  <div class="footer-right">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
</footer>
